<% @artworks.each do |artwork| %>
	<% if artwork.image_file_name.present? %>
  <div class="art">
		<%= image_tag artwork.image.url(:medium) %>
    <div class="art-info">
      <%= artwork.artist.fullname %><br>
      <%= artwork.artist.zip %><br>
      <%= artwork.title %><br>
      <%= artwork.media %><br>
      <%= artwork.price %>
    </div>
  </div>
	<% end %>
<% end %>